  <!DOCTYPE html>
  <html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>관리자 페이지</title>
  </head>
  <body>
  <th:block th:replace="/admin/adminHeader :: headerLayout"></th:block>
  <!-- 본문 내용 시작 -->
  <div class="ft">
    <div>
      <table>
        <thead>
        <tr>
          <th>번호</th>
          <th>아이디</th>
          <th>이름</th>
          <th>비고</th>
        </tr>
        </thead>
        <tbody>
          <th:block th:each="member : ${members}">
            <tr>
              <td th:text="${member.id}"></td>
              <td th:text="${member.loginId}"></td>
              <td th:text="${member.name}"></td>
              <td th:if="${!member.id.equals(session.authInfo.id)}"><button class="delete-btn" th:data-id="${member.id}">삭제</button></td>
            </tr>
          </th:block>
        </tbody>
      </table>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const deleteButtons = document.querySelectorAll('.delete-btn');
      deleteButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
          const memberId = event.target.getAttribute('data-id');

          const confirmation = confirm("정말로 삭제하시겠습니까?");

          if (confirmation) {
            fetch('/admin/deleteMember', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({ id: memberId })
            })
                    .then(response => {
                      if (response.ok) {
                        console.log('삭제 성공');
                        location.reload();
                      } else {
                        return response.text().then(text => { throw new Error(text) });
                      }
                    })
                    .catch(error => {
                      const errorMessage = document.getElementById('error-message');
                      errorMessage.style.display = 'block';
                      errorMessage.textContent = '삭제 실패: ' + error.message;
                    });
          } else {
            console.log('삭제 취소');
          }
        });
      });
    });
  </script>
  <div class="footers"></div> <!-- 이거 지우면 안됨 -->
  <th:block th:replace="/layout/footer :: footerLayout"></th:block>
  </body>
  </html>
